/* Body */
body {
    --bs-body-color: #212529;
    --bs-body-bg: #fff;

    margin: 0;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    transition: 500ms;
}



/* Dark Mode Styling */
.dark {
    color: #fff;
    background-color: #232323;
}

.toggle-container {
    display: flex;
    align-items: center;
    
}

.toggle-icon {
    font-size: 20px;
    color: #faf884;
    background-color: transparent;
    border-color: transparent;
}

/* Nav Bar */
.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar .nav-link{
    padding-left: 20px;
}

.navbar-brand {
    font-size: 1.75em;
}

.navbar-brand, a {
    animation: fadeIn linear 500ms;
}

.navbar-nav {
    animation: fadeIn linear 500ms;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.2em;
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn {
    font-weight: 700;
    font-size: 1.2em;
}

.btn-outline-primary:hover{
    background-color: gray;
    border-color: white;
}

/* Landing Page*/
#landing-top{
    height: 65vh;
    min-height: 400px;
    width: 100%;
    margin:auto;
}

.container{
    width: 100%;
}

.landing-block{
    max-width: 550px;
    animation: fadeInLanding linear 1000ms;
}

.landing-block h1{
    font-weight: 700;
}

.landing-block p{
    font-size: 20px;
    font-weight: 400;
}

.email-link{
    font-size:20px;
    font-weight:600;
    color:black;
    margin-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: 500ms;
}


/*Projects Section*/

#projects-section{
    margin-bottom: 100px;
    animation: fadeInProjects linear 1400ms;
}

.project-title{
    font-family: 'Lato', sans-serif;
    font-weight:700;
}

.badge {
    font-size: 15px;
}

.card-body {
    transition: 500ms;
}



/*CSS animations*/


@keyframes pastelLoop{
    0% {color: #fea3aa;}
    18% {color: #f8b88b;}
    36% {color: #faf884;}
    54% {color: #baed91;}
    72% {color: #b2cefe;}
    90% {color: #f2a2e8;}
}

@keyframes fadeIn{
    0% { opacity: 0; }
    50% { opacity: .5; }
    75% { opacity: .75; }
    100% { opacity: 1; }
}

@keyframes fadeInLanding{
    0% { opacity: 0; transform: translateY(-50%); }
    50% { opacity: .5; }
    75% { opacity: .7; }
    100% { opacity: 1; transform: translateY(0%); }
}

@keyframes fadeInProjects{
    0% { opacity: 0;}
    50% { opacity: 0;}
    75% { opacity: 0; transform: translateX(-1%);}
    100% {opacity: 1;  transform: translateX(0%); }
}