/* Nav Bar */
.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar .nav-link{
    padding-left: 20px;
}


.navbar-brand {
    font-size: 1.75em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.2em;
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn {
    font-weight: 700;
    font-size: 1.2em;
}

.btn-outline-primary:hover{
    background-color: gray;
    border-color: white;
}

/* Landing Page*/
#landing-top{
    height: 65vh;
    min-height: 400px;
    width: 100%;
    margin:auto;
}

.container{
    width: 100%;
}

.landing-block{
    max-width: 550px;
    animation: fadeInLanding linear 1000ms;
}

.landing-block h1{
    font-weight: 700;
}

.landing-block p{
    font-size: 20px;
    font-weight: 400;
}

.email-link{
    font-size:20px;
    font-weight:600;
    color:black;
    margin-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}


/*Projects Section*/

#projects-section{
    margin-bottom: 100px;
    animation: fadeInProjects linear 1000ms;
}

.project-title{
    font-family: 'Lato', sans-serif;
    font-weight:700;
}

.badge {
    font-size: 15px;
}

/*CSS animations*/


@keyframes pastelLoop{
    0% {color: #fea3aa;}
    18% {color: #f8b88b;}
    36% {color: #faf884;}
    54% {color: #baed91;}
    72% {color: #b2cefe;}
    90% {color: #f2a2e8;}
}

@keyframes fadeInLanding{
    0% { opacity: 0; transform: translateY(-50%); }
    75% { opacity: .5; }
    100% {opacity: 1; transform: translateY(0%); }
}

@keyframes fadeInProjects{
    0% { opacity: 0;}
    75% { opacity: .5; }
    100% {opacity: 1; }
}