/* Nav Bar */
.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar .nav-link{
    padding-left: 20px;
}


.navbar-brand {
    font-size: 1.75em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.2em;
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn {
    font-weight: 700;
    font-size: 1.2em;
}

.btn-outline-primary:hover{
    background-color: gray;
    border-color: white;
}

/* Landing Page*/
#landing-top{
    height: 65vh;
    min-height: 400px;
    width: 100%;
    margin:auto;
}

.container{
    width: 100%;
}

.landing-block{
    max-width: 550px;
}

.landing-block h1{
    font-weight: 700;
}

.landing-block p{
    font-size: 20px;
    font-weight: 400;
}

.email-link{
    font-size:20px;
    font-weight:600;
    color:black;
    margin-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}

/*Projects Section*/

#projects-section{
    margin-bottom: 100px;
}

.project-title{
    font-family: 'Lato', sans-serif;
    font-weight:700;
}

.badge {
    font-size: 15px;
}
